* {
  font-family: sans-serif; }

/* ================================= Main Donde estamos ================================= */
.direction {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white; }

.map {
  margin-left: 20%; }

  
/* ================================= Main Horarios ================================= */
.main {
  margin-top: 50px; }

.table {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 100px;
  color: white;
  border-collapse: collapse; }

.th {
  border: 2px solid white;
  flex-direction: column;
  width: 200px; }

.td {
  flex-direction: column;
  border: 2px solid white;
  width: 100px; }

.title-table {
  color: #F58A07;
  font-size: larger;
  width: 100px; }

/* ================================= Main Inicio ================================= */
.carousel-inner {
  width: 70%;
  margin-left: 15%; }

body {
  background-color: 011C27; }

.h2-actividades {
  display: flex;
  color: #F58A07;
  padding: 10px;
  justify-content: center; }

.lorem-container {
  flex-wrap: wrap;
  color: white;
  margin-top: 20px;
  padding: 100px; }

/* ================================= Main LogIn ================================= */
.form-floating {
  width: 50vh;
  margin-left: 25%; }

.registro-container {
  color: white;
  padding-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20%; }

.link-registro {
  text-decoration: none;
  color: #F58A07; }

:root {
  ---aqui: #F58A07
; }

.link-registro:hover {
  color: var(---aqui); }

/* ================================= Footer ================================= */
.footer {
  margin-top: 40px;
  background-color: 011C27; }

:root {
  --facebook: #3b5999;
  --instagram: #e4405f;
  --whatsapp: #00AF54; }

.redes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0; }

ul.redes-ul {
  padding-left: 0; }

.redes-container ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  text-align: center; }

.redes-container ul li a {
  display: block;
  padding: 10px 10px;
  background: #333;
  color: white;
  line-height: 100px;
  font-size: 18px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  transition: .2s; }

.redes-container ul:hover a {
  filter: blur(2px); }

.redes-container ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none; }

.redes-container ul li .facebook:hover {
  background: var(--facebook); }

.redes-container ul li .instagram:hover {
  background: var(--instagram); }

.redes-container ul li .whatsapp:hover {
  background: var(--whatsapp); }

.seguinos {
  display: flex;
  color: white;
  justify-content: center; }

.copyright-container {
  display: flex;
  color: white;
  top: 0;
  justify-content: center; }

/* ================================= Header =================================*/
.header {
  background-color: 011C27;
  border-bottom: 1px solid white; }

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
  margin-right: 50px; }

.navbar-nav {
  text-align: center; }

.navbar-brand {
  color: #F58A07;
  margin-left: 100px; }

.nav-link {
  color: white; }

.navbar-toggler {
  color: 011C27; }

:root {
  --navlink: #F58A07; }

.navbar-nav li a:hover {
  color: var(--navlink); }

/* ========== @Media Desktop Horarios ========== */
@media screen and (min-width: 500px) {
  .overflow-scroll {
    overflow: hidden !important; } }

/* ========== @Media Movile Horarios =========== */
@media screen and (max-width: 500px) {
  .main {
    margin-top: 50px; }
  .table {
    margin-left: 0;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 30vh;
    border-collapse: collapse; }
  .th {
    border: 2px solid white;
    width: 100px !important; }
  .td {
    border: 2px solid white;
    width: 50px !important; }
  .title-table {
    color: #F58A07;
    font-size: larger;
    width: 50px !important; } }

/* =========== @Media Movile Inicio =========== */
@media screen and (max-width: 500px) {
  .carousel-inner {
    width: 100%;
    height: auto;
    margin-left: unset !important; }
    .carousel-inner .carousel-item {
      height: auto; }
  .carousel-control-next-icon {
    margin-bottom: 0px; }
  .carousel-control-prev-icon {
    margin-bottom: 0px; }
  .h2-actividades {
    margin-top: 40px; }
  .lorem-container {
    flex-wrap: wrap;
    color: white;
    margin-top: 20px;
    padding: 40px; } }

/* =============== @Media Movile Header ================ */
@media screen and (max-width: 500px) {
  .navbar-brand {
    color: #F58A07;
    margin-left: 10px; }
    .navbar-brand .navbar-toggler-icon {
      color: #F58A07; }
    .navbar-brand .navbar-nav {
      margin-left: 50; } }

/* =============== @Media Movile Footer =============== */
@media screen and (max-width: 500px) {
  .footer {
    max-height: 100px; }
    .footer .redes-container {
      max-height: 70px; }
  .copyright-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px; } }

/* ============== @Media Movile Horarios ============= */
@media screen and (max-width: 500px) {
  .table {
    padding-top: 5px;
    align-content: flex-start;
    justify-content: flex-start; } }

/* ================ @Media Movile Login =============== */
@media screen and (max-width: 500px) {
  .form-floating {
    width: 80% !important;
    margin-left: 40; }
  .registro-container {
    margin-bottom: 60%; } }

/* =========== @Media Movile Donde Estamos =========== */
@media screen and (max-width: 500px) {
  .map {
    height: 50%;
    width: 100%;
    margin-left: 0;
    padding: 10; } }
