/* ================================= Header =================================*/
.header{       
    border-bottom: 1px solid #FFECD1;
}
.navbar-expand-lg {
    .navbar-collapse {
    justify-content: flex-end;
    margin-right: 50px;
    }
}    
.navbar-nav{
    text-align: center;
}
.navbar-brand{
    color:#FF7D00;
    margin-left: 100px;
    font-family: 'Fahkwang', sans-serif;
}
.nav-link{
    color: #FFECD1;
}
.navbar-toggler{
    color: #001524;
}
:root{
    --navlink: #FF7D00;
}
.navbar-nav li a:hover{
    color: var(--navlink);
}