/* ================================= Main Donde estamos ================================= */
.direction-container{
    margin-top: 5%;
}
.direction{    
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}
.map{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 600px;
    width: 90%;
}