/* ================================= Main Inicio ================================= */
.carousel-inner{
    width: 70%;
    height: 700px;
    margin-left: 15%;
}
body{
    background-color: #001524;
}
.main{
    top: 0;
}
.h2-actividades{
    display: flex;
    color: #FF7D00;
    padding: 10px;
    justify-content: center;
}
.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    .card {
         @include card-inicio ;  
         .title-card {
            color: #FF7D00;
         }
         .p-card {
            color: #FFECD1;
         }
    }
}
.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.container {
    .card{
        img{
            width: 330px;
            height: 220px;
        }
    }
}
.container {
    .card{
        h4{
            font-weight:600 ;
        }
    }
}
.container {
    .card{
        p{
            padding: 0 1rem;
            font-size: 16px;
            font-weight: 300;
        }
    }
}
.container {
    .card{
        a{
           font-weight: 500;
           text-decoration: none;
           color: #3498db; 
        }
    }
}