/* ================================= Main Inicio ================================= */
.carousel-inner{
    width: 70%;
    margin-left: 15%;
}
body{
    background-color: 011C27;
}
.h2-actividades{
    display: flex;
    color: #F58A07;
    padding: 10px;
    justify-content: center;
}
.lorem-container{
    flex-wrap: wrap;
    color: white;
    margin-top: 20px;
    padding: 100px;
}