 @include form;
 .p-registro{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    color: #FFECD1;
 }
 .a-registro{
    text-decoration: none;
    color: #FF7D00;
 }
 .checkbox-container{
   display:flex ;
   .checkbox{
      height: 20px;
      width: 20px;
   }
   .label-checkbox{
      margin-left: 20px;
      color: #FFECD1;
   }
 }