.card-container{
    margin-top: 10%;
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    .card {
         @include card-inicio ;  
         margin-top: 10%;
         .title-card {
            margin-top: 20px;
            color: #FF7D00;
         }
         .p-card {
            color: #FFECD1;
         }
    }
}
.card-container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.card-container {
    .card{
        .img-card{
            width: 330px;
            height: 220px;
        }
    }
}
.card-container {
    .card{
        h4{
            font-weight:600 ;
        }
    }
}
.card-container {
    .card{
        p{
            padding: 0 1rem;
            font-size: 16px;
            font-weight: 300;
        }
    }
}
.card-container {
    .card{
        a{
           font-weight: 500;
           text-decoration: none;
           color: #3498db; 
        }
    }
}